/* SITE-HEADER */
body{
  font-family: 'Roboto', sans-serif;
}
*:focus{
  outline: dotted #ff7500;
  outline-offset: 3px;
}
.site-header{
display: flex;
align-items: center;
justify-content: space-between;
background-color: #fff;
}
.logo-link{
  transition: opacity 0.4s ease;
}
.logo-link:hover{
  opacity: 0.8;
}
.logo-link:active{
  opacity: 0.6;
}
.site-header-nav{
  display: flex;
  align-items: center;
}
.site-nav-link{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.site-nav-link:hover{
  color: #ff7500;
}
.sitenav-link:active{
  opacity: 0.6;
}
.sitenav-list{
  display: flex;
  list-style: none;
}
.main-link{
font-weight: 700;
font-size: 13px;
line-height: 15px;
letter-spacing: 0.5px;
color: #ffffff;
text-decoration: none;
background-color: #FF7500;
transition: opacity 0.4s ease;
}
.main-link:hover{
  opacity: 0.8;
}
.main-link:active{
opacity: 0.6;
}
/* HERO */
.site-hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252420;
  color: #fff;
}
.hero-objects{
width: 387px;
}
.orange-hr{
  background-color: #FF7500;
  width: 80px;
  height: 3px;
}
.hero-heading{
font-weight: 700;
font-family: 'Roboto Condensed', sans-serif;
font-size: 40px;
line-height: 1.2;
letter-spacing: 0.5px;
}
.hero-text{
  width: 387px;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
}
.hero-img{
  width: 510px;
  height: 510px;
}
.orange-hr{
  background-color: #FF7500;
  width: 80px;
  height: 3px;
}
/* FEATURE */
.future-list{
  display: flex;
  justify-content: space-between;
}
.feature-heading{
  font-family: 'Roboto Condensed', sans-serif;
width: 435px;
font-size: 60px;
line-height: 86px;
letter-spacing: 0.5px;
text-decoration: none;
}
.feature{
  width: 340px;
}
.feature-icon-wrapper{
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);

}
.feature-title{
font-family: 'Roboto Condensed', sans-serif;
font-size: 24px;
line-height: 28.8px;
letter-spacing: normal;0.5px
}
.feature-info{
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
}
/* PROMO */
.promo{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1100px;
  background-color: #252420;
  color: #fff;
}
.promo-heading{
  font-family: 'Roboto Condensed', sans-serif;
width: 373px;
height: 96px;
font-size: 40px;
line-height: 48px;
letter-spacing: 0.5px;
}
.promo-content{
width: 440px;
}
.promo-info{
width: 440px;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
}
.promo-second-info{
font-weight: 700;
}
.promo-highlight{
color: #FF7500;
}
.promo-img{
width: 440px;
height: 440px;
object-fit: cover;
}
/* SITE-FOOTER */
.site-footer{
  background-color: #F8F8F8;
}
.footer-section{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.site-footer-hr{
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
}
.footer-link{
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  line-height: 19px;
}
.site-footer-link{
width: 224px;
transition: color 0.4s ease, opacity 0.4s ease;
}
.site-footer-link:hover{
  color: #ff7500;
}
.site-footer-link:active{
  opacity: 0.6;
}
.social-networks{
  display: flex;
}
.social-networks a{
  transition: color 0.4s ease, opacity 0.4s ease;
}
.social-networks a:hover{
color: #ff7500;
}
.social-networks a:active{
  opacity: 0.6;
}
ul{
  list-style: none;
}
ul a{
text-decoration: none;
color: #252420;
}
